<ion-header>
  <ion-toolbar>
    <ion-title>warning</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div id="warning">
        <ion-header>
            Warning - Warnung
        </ion-header>
        
        <p>
            This app promotes the use of alcohol, using this app under the age of 18 is prohibited. By playing Dominion 2, you are aware and responsible for potential consequences of consuming alcohol.
            Diese App sorgt zum Alkoholkonsum, das Verwenden dieser App unter dem Alter von 18 ist verboten. Durch das Spielen von Dominion 2 bist du dir über die Gefahren vom Alkoholkonsum bewusst und bist dafür verantwortlich.
        </p>
    
        <p>
            Take care
            Pass auf
        </p>
    </div>

    

</ion-content>
