<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Blank</ion-title>
      </ion-toolbar>
    </ion-header>

    <div id="container">
        <div id="main">
            <h1>Dominion 2</h1>
            <div id="inputArea">
                


                <!-- <form [formGroup]="playerForm">
                    <ion-list *ngFor="let field of playerCountArray">
                        <ion-item>
                            <ion-input placeholder="Spieler {{field}}" class="playerInput"></ion-input>
                        </ion-item>
                    </ion-list>
                </form>
                <ion-button (click)="addPlayer()" id="addButton" color="success">Spieler hinzufügen</ion-button> -->

                <!-- <form [formGroup]="playerForm">
                    <ng-container formArrayName="players">
                        <ion-list [formGroupName]="i" *ngFor="let player of playerForm.players.controls; let i = index">
                            <ion-item>
                                <ion-input placeholder="Spieler {{i}}" formControlName="playerName"></ion-input>
                            </ion-item>
                        </ion-list>
                    </ng-container>
                </form> -->

                <form [formGroup]="form">
                    <ng-container formArrayName="players">
                      <ion-list [formGroupName]="i" *ngFor="let player of form.controls.players.controls; let i = index">
                        <ion-item>
                          <ion-input placeholder="Player {{ i + 1 }}" formControlName="firstname"></ion-input>
                        </ion-item>
                      </ion-list>
                      <ion-button color="danger" (click)="startGame()">
                        Find Match!
                      </ion-button>
                    </ng-container>
                  </form>

            </div>
            <!-- <ion-button id="startButton" color="danger">Start</ion-button> -->
        </div>

      
    </div>
</ion-content>
